/* themes */
/* When nothing is loaded, the default theme will be applied. */
/* see https://github.com/hiroppy/fusuma#themes */
/* @import '@fusuma/client/assets/style/themes/pop.css'; */
/* @import '@fusuma/client/assets/style/themes/babel.css'; */
/* @import '@fusuma/client/assets/style/themes/webpack.css';*/
/* @import '@fusuma/client/assets/style/themes/node.css'; */

/* global config */
/* When you want to change the default values, please uncomment. */
/* see https://github.com/hiroppy/fusuma/blob/master/packages/client/assets/style/variables.css */
:root {
  /* --base-font-family: 'Roboto', 'San Francisco', helvetica, arial, sans-serif; */
  /* --base-font-size: 2.4rem; */
  /* --base-font-weight: 300; */
  /* --base-align: center; */
  /* --base-max-width: 1280px; */
  /* --base-outer-margin: 24px; */
  /* --base-image-width: 100%; */
  /* --base-image-border-radius: 0; */
  /* --h1-font-size: 5.6rem; */
  /* --h2-font-size: 4rem; */
  /* --h3-font-size: 3.6rem; */
  /* --code-font-size: 1.8rem; */

  --color-title: #fafafa;
  --color-base: #d3d7d9;
  --color-background: #232a31;
  --color-link: #91c8f6;
}

.title {
}

/* https://hiroppy.github.io/fusuma/docs/guides/slide-syntax#declaring-section-title */
.section-title {
}

.scaledComponent {
  transform: scale(2);
}

.social {
  display: flex;
}

.social > * {
  margin-right: 1rem;
}

.scaledFlexBox {
  display: flex;
  transform: scale(2);
  margin-top: 3rem;
}

.textAlignStart {
  text-align: start;
}

.largeColumn {
  width: 40% !important;
}

.textColorRed {
  color: red;
}

.improveIt {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("https://media.giphy.com/media/UKkes2qN2T70s/giphy.gif");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.demo {
  /*background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),*/
  /*  url("https://media.giphy.com/media/sDcfxFDozb3bO/giphy.gif");*/
  /*background-size: cover;*/
}

.attribution {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  font-size: 16px;
}


h1 {
  margin-bottom: 4rem;
}

h2 {
  margin-bottom: 3rem;
}

.extendedMaxWidth {
  --base-max-width: 1800px;
}

.fadedOut {
  opacity: 0.65;
}